@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
@keyframes headeranimation {
    from {
        translate: 150vw 0;
        scale: 200% 1;
        opacity: 0.1;
      }
    
      to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
      }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 1000px;
        scale: 1 200%;
    }
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1 100%;
    }
}
@keyframes Start {
    from {
        opacity: 0.1;
        translate: 0 45px;
    }
    to {
        opacity: 1;
        translate: 0 10px;
    }
}
:root {
    --linear-gradient1: #35393b;
    --linear-gradient2: #111213;
    --main-color: #222831;
    --text-color: #76ABAE;
    --subheading-color: #76ABAEa9;
    --shadow-color: rgba(0, 255, 221, 0.137);
    --border-color: rgba(128, 128, 128, 0.521);
    
}
#spacer {
    margin-top: 100%;
}
header {
    overflow: visible;
}
.header {
    width: 85%;
    max-height: 320px;
    border: solid 1px var(--border-color);
    box-shadow: 5px 5px 12px 5px var(--shadow-color);
    display: flex;
    text-align: left;
    background-color: var(--main-color);
    border-radius: 50px;
    margin: 20px auto;
    cursor: default;
    animation: Start linear 0.6s;
    animation-delay: 0.1s;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-top: 30px;
}
.header h1 {
    font-family: 'Roboto', 'serif';
    font-size: 68px;
    font-weight: bold;
    padding: 20px;
    margin-left: 25px;
    text-decoration: underline;
    text-underline-offset: 5px;
    letter-spacing: 6px;
}
.header h3 {
    font-family: 'Roboto', 'serif';
    font-size: 25px;
    margin-left: 45px;
    font-weight: lighter;
    margin-top: 55px;
    color: #76ABAEa9;
}
body {
    background: linear-gradient(11deg, var(--linear-gradient1), var(--linear-gradient2));
    color: var(--text-color);
    overflow: hidden;
    background-repeat: no-repeat;
}
.managelist {
    margin: 0 auto;
    font-size: 26px;
    font-family: 'Roboto', 'serif';
    background-color: var(--main-color);
    border: solid 1px var(--border-color);
    border-radius: 15px;
    margin-top: 300px;
    max-height: 100px;
    max-width: 20%;
    cursor: pointer;
    animation: Start linear 0.6s;
    animation-delay: 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
}
.managelist h1 {
    padding: 10px;
    color: var(--text-color);
    text-align: center;
}
.managelist:hover {
    transform: scale(1.05);
    background-color: var(--text-color);
    transition: 0.3s;
    text-decoration: underline;
    color: var(--main-color);
    transition-delay: 0.01s;
}
.managelist h1:hover {
    color: var(--main-color);
    transition: 0.3s;
    transition-delay: 0.01s;
}
@media screen and (max-width: 1505px){ 
    .managelist h1 {
        font-size: 45px;
    }
}
@media screen and (max-width: 1320px){ 
    .managelist h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 1050px){ 
    .managelist h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 780px){ 
    .managelist h1 {
        font-size: 15px;
    }
    .managelist:hover {
        transform: scale(1.05);
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    .header h3 {
        margin-top: 10px;
    }
}
@media screen and (max-width: 530px){ 
    .managelist  {
        max-width: 35%;
    }
    .header h3 {
        font-size: 22px;
        margin-left: 0;
    }
    .header h1 {
        font-size: 48px;
        margin-left: 0;
    }
    .header {
        width: 90%;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .header {
        text-align: center !important;
    }
    .managelist {
        margin-top: 200px;
    }
}